
.icon-mail:before { content: '\e800'; } /* '' */
.icon-001-menu:before { content: '\e801'; } /* '' */
.icon-002-musica-searcher:before { content: '\e802'; } /* '' */
.icon-credit-card:before { content: '\e803'; } /* '' */
.icon-share:before { content: '\e804'; } /* '' */
.icon-mail-1:before { content: '\e805'; } /* '' */
.icon-right-open-mini:before { content: '\e806'; } /* '' */
.icon-up-open-mini:before { content: '\e807'; } /* '' */
.icon-left-open-mini:before { content: '\e808'; } /* '' */
.icon-check:before { content: '\e809'; } /* '' */
.icon-phone:before { content: '\e80a'; } /* '' */
.icon-lock:before { content: '\e80b'; } /* '' */
.icon-man-login:before { content: '\e80c'; } /* '' */
.icon-truck:before { content: '\e80d'; } /* '' */
.icon-carrito:before { content: '\e80e'; } /* '' */
.icon-012-verified-text-paper:before { content: '\e80f'; } /* '' */
.icon-down-open-mini:before { content: '\e810'; } /* '' */
.icon-up-open:before { content: '\e811'; } /* '' */
.icon-whatsapp-(1):before { content: '\e812'; } /* '' */
.icon-whatsapp:before { content: '\e813'; } /* '' */
.icon-006-youtube-rounded-square-logo:before { content: '\e814'; } /* '' */
.icon-instagram-radio:before { content: '\e815'; } /* '' */
.icon-003-facebook-logo:before { content: '\e816'; } /* '' */
.icon-facebook-cuadro:before { content: '\e817'; } /* '' */
.icon-instagram-cuadro:before { content: '\e818'; } /* '' */
.icon-twitter-cuadro:before { content: '\e819'; } /* '' */
.icon-whatsapp-cuadro:before { content: '\e81a'; } /* '' */
.icon-right-open:before { content: '\e81b'; } /* '' */
.icon-left-open:before { content: '\e81c'; } /* '' */
.icon-down-open:before { content: '\e81d'; } /* '' */
.icon-up-open-big:before { content: '\e81e'; } /* '' */
.icon-right-open-big:before { content: '\e81f'; } /* '' */
.icon-left-open-big:before { content: '\e820'; } /* '' */
.icon-down-open-big:before { content: '\e821'; } /* '' */
.icon-down-dir:before { content: '\e822'; } /* '' */
.icon-up-dir:before { content: '\e823'; } /* '' */
.icon-front-store:before { content: '\e824'; } /* '' */
.icon-location-1:before { content: '\f031'; } /* '' */
.icon-down:before { content: '\f175'; } /* '' */
.icon-up:before { content: '\f176'; } /* '' */